<!--<nav class = "navbar navbar-default">-->
    <nav class = "navbar fixed-top navbar-inverse bg-primary">
        <ul class = "nav navbar-nav">
           <li>
             <button type="button" class="btn btn-link navbar-btn" (click)="navListJobs()">Jobs <span class="glyphicon glyphicon-list-alt"></span></button>
          </li>
            <li>
             <button type="button" class="btn btn-link navbar-btn" (click)="navMyJobs()">My Jobs <span class="glyphicon glyphicon-th-list"></span></button>
          </li>
           <li>
             <button type="button" class="btn btn-link navbar-btn" (click)="navPostJob()">Post a Job <span class="glyphicon glyphicon-pencil"></span></button>
          </li>
          <li>
             <button type="button" class="btn btn-link navbar-btn" (click)="logout()">Logout <span class="glyphicon glyphicon-off"></span></button>
          </li>
        </ul>
      </nav>

<div class="container">
 <div class="row">
<div class="col-sm-6">
<div class = "panel panel-primary" *ngFor="let worker of workers">
  <div class="panel-heading">
   <h3>{{worker.firstName}}</h3>
   <h3>{{worker.secondName}}</h3>
  </div>

  <div class = "panel-body">
    <h3>Trade: {{worker.trade}}</h3>
    <h3>Rating: {{worker.displayedRating}}</h3>
    <button type="button" class="btn btn-success" (click)="acceptRequest(worker.id)">Accept <span class="glyphicon glyphicon-wrench"></span></button>
    <button type="button" class="btn btn-primary" (click)="viewProfile(worker.id)">View Profile <span class="glyphicon glyphicon-user"></span></button>
    <button type="button" class="btn btn-success" (click)="jobComplete(worker.id)">Job Complete <span class="glyphicon glyphicon-thumbs-up"></span></button>
  </div>

</div>
</div>

</div>
</div>
