<nav class = "navbar navbar-default">
  <ul class = "nav navbar-nav">
     <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navListJobs()">Jobs</button>
    </li>
      <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navMyJobs()">My Jobs</button>
    </li>
     <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navPostJob()">Post a Job</button>
    </li>
  </ul>
</nav>

<div class="container">
 <div class="row">
<div class="col-sm-6">
<div class = "panel panel-primary" *ngFor="let request of jobRequests">
  <div class="panel-heading">
   <h3>{{request}}</h3>
  </div>

  <div class = "panel-body">
    <h3>Info about request</h3>
    <button type="button" class="btn btn-success" (click)="acceptRequest()">Accept</button>
  </div>

</div>
</div>

</div>
</div>
