

<div class="form-group">
  <div>
      <label>Rate this job out of 100:(Once you press submit, this job will no longer be listed for workers to see.)</label>
      <input type="text" class="form-control" [(ngModel)]="rating" value="rating">
      </div>
     
</div>

<button type="submit" (click)="showRating()" class="btn btn-success">Submit <span class="glyphicon glyphicon-send"></span></button>
<button type="submit" (click)="cancel()" class="btn btn-danger">Cancel <span class="glyphicon glyphicon-remove-sign"></span></button>
