<!--Google maps-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7bMomggbd1_CFMfE7A1Njp4kaM7HmsLs&callback=initMap"
  type="text/javascript"></script>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
        </div>
        <div *ngIf='user.provider == "password"'class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label>Your name</label>
              <input type="text" formControlName="name" class="form-control" required>
              <p class="card-text">This is a dummy landing page. This page can be switched depending on the user.
                  See login.component.ts comment for reference </p>
            </div>
          </form>

         
  <ul class = "nav navbar-nav">
    <li>
      <a href="listJobs">Customer</a>
    </li>
     <li>
      <a href="listJobsWorker">Worker</a>
    </li>
  </ul>
    
<!--Google Maps-->

<!--
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

          <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
        </div>
      </div>
    </div> -->
    <div class="col-md-4">
        <button type="button" (click)="getLongLat()" class="btn btn-link">getLongLat</button>
      <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
  </div>
</div>  
