<nav class = "navbar fixed-top navbar-inverse bg-primary">
    <ul class = "nav navbar-nav">
        <li>
          <button type="button" class="btn btn-link navbar-btn" (click)="navListJobs()">List Jobs <span class="glyphicon glyphicon-list-alt"></span></button>
       </li>
         <li>
          <button type="button" class="btn btn-link navbar-btn" (click)="navMyProfile()">My Profile <span class="glyphicon glyphicon-user"></span></button>
       </li>
        <li>
          <button type="button" class="btn btn-link navbar-btn" (click)="navEditProfile()">Edit Profile <span class="glyphicon glyphicon-edit"></span></button>
       </li>
       <li>
          <button type="button" class="btn btn-link navbar-btn" (click)="navMyRequests()">My Jobs <span class="glyphicon glyphicon-th-list"></span></button>
       </li>
        <li>
          <button type="button" class="btn btn-link navbar-btn" (click)="logout()">Logout <span class="glyphicon glyphicon-off"></span></button>
       </li>
     </ul>
   </nav>

<h4>{{message}}</h4>

<div *ngIf="isWorker">


<h1>Your requested Jobs:</h1>
<div *ngFor="let job of jobs">
<div *ngIf="job.complete == false ">
<div class="container">
 <div class="row">
<div class="col-sm-6">
<div class = "panel panel-primary">
  <div class="panel-heading">
   <h3>{{job.location}}</h3>
  </div>

  <div class = "panel-body">
     <!--<h2>{{job.id}}</h2> --> 
      <h3>Trade: </h3><h4>{{job.trade}}</h4>
      <h3>Description: </h3><h4>{{job.description}}</h4>
     <!-- <h3>Customer: </h3><h4>{{job.customerName}}</h4> -->
      <h3>Posted on: </h3><h4>{{job.date}}</h4>
     <!-- <h3>Accepted?: </h3><h4>{{job.accepted}}</h4> -->
      <button type="button" class="btn btn-success" (click)="getMap(job)">View Map <span class="glyphicon glyphicon-map-marker"></span></button>
      

  </div>

</div>
</div>

</div>
</div>
</div>
</div>


<h1>Your accepted Jobs:(Your requests that have been accepted by the customer)</h1>
<div *ngFor="let job of acceptedJobs">
    <div *ngIf="job.complete == false ">
<div class="container">
 <div class="row">
<div class="col-sm-6">
<div class = "panel panel-primary">
  <div class="panel-heading">
   <h3>{{job.location}}</h3>
  </div>

  <div class = "panel-body">
     <!-- <h2>{{job.id}}</h2> -->
      <h3>Trade: </h3><h4>{{job.trade}}</h4>
      <h3>Description: </h3><h4>{{job.description}}</h4>
     <!-- <h3>Customer: </h3><h4>{{job.customerName}}</h4> -->
      <h3>Contact: </h3><h4>{{job.contact}}</h4>
      <h3>Posted on: </h3><h4>{{job.date}}</h4>
     <!-- <h3>Accepted?: </h3><h4>{{job.accepted}}</h4> -->
      <button type="button" class="btn btn-success" (click)="getMap(job)">View Map <span class="glyphicon glyphicon-map-marker"></span></button>
      

  </div>

</div>
</div>

</div>
</div>
</div>
</div>

</div>