<nav class = "navbar navbar-default">
 <ul class = "nav navbar-nav">
     <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navListJobs()">List Jobs</button>
    </li>
      <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navMyProfile()">My Profile</button>
    </li>
     <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navEditProfile()">Edit Profile</button>
    </li>
    <li>
       <button type="button" class="btn btn-link navbar-btn" (click)="navMyRequests()">My Jobs</button>
    </li>
  </ul>
</nav>

<div class="container">
<div class = "panel panel-primary">

<div class="panel-heading">
   <h3>{{worker.firstName}}</h3><h3>{{worker.secondName}}</h3>
  </div>

   <div class = "panel-body">


      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-4">
            <img src="assets/images/easytrade.jpg" alt="Profile picture.">
          </div>

          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-6">
                <h4>Trade:</h4>
                </div>

                 <div class="col-xs-6">
                <h4>{{worker.trade}}</h4>
                </div>
            </div>

             <div class="row">
              <div class="col-xs-6">
               <h4>Address:</h4>
                </div>

                 <div class="col-xs-6">
                <h4>{{worker.address}}</h4>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
               <h4>Rating:</h4>
                </div>

                 <div class="col-xs-6">
                <h4>{{worker.rating}}</h4>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
               <h4>Phone Number:</h4>
                </div>

                 <div class="col-xs-6">
                <h4>{{worker.phoneNumber}}</h4>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
               <h4>Email:</h4>
                </div>

                 <div class="col-xs-6">
               <h4>{{worker.email}}</h4>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
               <h4>Website:</h4>
                </div>

                  <div class="col-xs-6">
               <h4>{{worker.website}}</h4>
                </div>
                
            </div>

          </div>


          


        </div>

      </div>


       


   </div>



</div>

</div>

<br>
{{worker | json}}

